.index {
  color: red;
  .header {
    width: 100%;
    background: #2c2f33;
    height: 53px;
    .header_c {
        width: 1000px;
        height: 53px;
        // background: red;
        margin: 0 auto;
        display: flex;

    .header_l{
      width: 220px;
      display: flex;
      align-items: center;
      a{
        width: 60%;
        img{

          width: 100%;
        }
      }
      span{

        margin:0 10px;
      }
    }
    .header_m{
      width: 560px
    }
    .header_r{
    }
    }
  }
}
