.jobList {
  overflow: hidden;
  .ant-card-body {
    overflow: hidden;
  }
  ul {
    padding: 0;
    overflow: hidden;

    li {
      display: flex;
      justify-content: space-around;
      padding: 12px 0;
      a {
        width: 50%;
      }
      .time {
        width: 25%;
        text-align: right;
      }
      .city {
        width: 25%;
        text-align: left;
        text-align: center;
      }
    }
  }
}
